* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-image: url("https://wallpapercave.com/wp/wp2528979.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
  }
  
  #id1 {
    position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 6rem;
    height: 100vh;
    width: 100%;
  
  }
  
  #id2{
    bottom:30%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    font-size:3rem;
    color: white;
    position:absolute;
  }
  
  
  #but{
    background-color:#42f07f;
    color: white;
    border:2px solid #3df5e9;
    border-radius:10px;
    font-size: 1.5rem;
    position:absolute;
    top:72%;
    right:47%;
    cursor:pointer;
    
  }